
<!DOCTYPE html>
<html>
<head>
	<title>一拳超人ONE[ 186原作版141 ]</title>
	<meta charset="utf-8">
    <style>
        body{
            background-color: black;
        }
		div#pages{
            text-align: center;
		}
        p#p{
            font-size: 35px;
            text-align: center;
            color: #66ffff;
        }
        span#capture_number{
            color: #ff66ff;
        }
	</style>
    
</head>
<body>
    <br><br>
    <hr style="FILTER:alpha(opacity=100,finishopacity=0,style=3)" width="95%"color=#00FF7F SIZE=5>   <p id="p"><strong>一拳超人ONE[ <span id="capture_number">原作版141</span> ]</strong></p>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image001.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image002.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image003.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image004.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image005.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image006.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image007.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image008.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image009.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image010.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image011.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image012.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image013.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image014.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image015.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image016.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image017.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image018.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image019.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image020.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image021.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image022.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image023.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image024.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image025.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image026.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image027.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image028.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image029.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image030.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image031.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image032.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image033.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image034.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image035.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image036.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image037.jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/OPM/一拳超人ONE原作版IMAGES/capture186原作版141/image038.jpg"></img></div>

</body>
</html>
