<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>今天也要爬</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="case-content-bg case-content-info">
            <div class="case-box">
                <h3 class="case-box-title">
                    <em>网易云数据分析</em>
                    <span>来自山顶洞人小组，今天也要爬</span>
                </h3>
                <div class="case-wrapper clearfix">
                    <div class="case-item">
                        <div class="case-item-bg case-item-bg1"></div>
                        <div class="case-item-title">奇奇怪怪的图/组合图</div>
                        <div class="case-item-text">其实是不知道分类到哪里的图</div>
                        <div class="case-item-doc">
                            <p>点击查看</p>
                            <p><a href="singersun" target="_blank">⭐热门歌手旭日图</a></p>
                            <p><a href="stack" target="_blank">⭐歌单歌曲、播放、收藏、评论数据堆积图</a></p>
                            <p><a href="four" target="_blank">⭐以15万分界的平均播放量、收藏量与评论量关系（散点柱状动图）</a></p>
                            <p><a href="map_singer" target="_blank">⭐歌手地区分布平面图</a></p>
                        </div>
                    </div>
                    <div class="case-item">
                        <div class="case-item-bg case-item-bg2"></div>
                        <div class="case-item-title">立起来的图</div>
                        <div class="case-item-text">就是有三个维度的图</div>
                        <div class="case-item-doc">
                            <p>点击查看</p>
                            <p><a href="six" target="_blank">⭐歌手地区分布立体图</a></p>
                            <p><a href="three" target="_blank">⭐收藏、评论、播放的三维散点图</a></p>
                            <p><a href="one" target="_blank">⭐分享、评论、播放三维柱状图</a></p>
                            <p>⭐</p>
                            <p>⭐</p>
                            <p>⭐</p>
                            <p>⭐</p>
                        </div>
                    </div>
                    <div class="case-item">
                        <div class="case-item-bg case-item-bg3"></div>
                        <div class="case-item-title">像饼一样、像环一样的图</div>
                        <div class="case-item-text">虽然他们像饼一样，但是他们会动</div>
                        <div class="case-item-doc">
                            <p>点击查看</p>
                            <p><a href="two" target="_blank">⭐歌曲时长动态饼图</a>
                            <p><a href="five" target="_blank">⭐热榜出现次数前十的歌手带纹理饼图</a></p>
                            <p><a href="user_list" target="_blank">⭐用户贡献歌单数量排行榜玫瑰图</a></p>
                            <p><a href="tag_list" target="_blank">⭐音乐标签前十的占比环形图</a></p>
                            <p><a href="title_in_play" target="_blank">⭐播放次数区间歌单数量饼图</a></p>
                        </div>
                    </div>
                    <div class="case-item">
                        <div class="case-item-bg case-item-bg4"></div>
                        <div class="case-item-title">平面柱状图、散点图</div>
                        <div class="case-item-text">简约风，图简意赅</div>
                        <div class="case-item-doc">
                            <p>点击查看</p>
                            <p><a href="play_user" target="_blank">⭐官方歌单播放量柱状图</a></p>
                            <p><a href="play_collection_relation" target="_blank">⭐播放量和收藏量的关系散点图</a></p>
                            <p><a href="max_play_title" target="_blank">⭐歌单播放量前十柱状图</a></p>
                            <p><a href="max_play_user" target="_blank">⭐歌单播放前十用户柱状图</a></p>
                            <p><a href="max_title_user" target="_blank">⭐发布歌单最多用户柱状图</a></p>
                            <p><a href="collection_play" target="_blank">⭐40万播放量下播放量收藏量关系</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>