<!--
	此示例下载自 https://echarts.apache.org/examples/zh/editor.html?c=scatter3D-dataset&gl=1&code=CQOg5gpgLgFAUAAgQJQPKoCoH0AKBBDACQQGoEByAegBMBDKWy2gZ2ehvsYBsBLAMwgBaCAA8ADhADGDAHaSAnoIYAjLhBAArZgHsZ5ADSIEfAK5yoPXQhh0GASgQBvI0gButAE4Jm8gLbLtLgBlHgAvCAQAXgQAJhAAVgBuFwRtMQsraOckHIQwDx5qAGYAEQAuJwBfQ1ykETwRHmZSiuzapCh5CQrySXoIMG0PeXIUpGqxhHkGppaqmtrQmeby-cnbFmhWyaRqHl8IGWZLI4qAbR2c8gBJOW0Dg0ukcgAZfgiAUXEpWQVH9ty5BwaRMXHoJ3-AOeAGFtGYoMNIVDHAgZLQDj0AJoQTwGBCdboUIZ7NFccgISqXAC6C3aOhMHkkEAqG0mEzpEAKEGY50ubShBOZFGYfSgUE5pSRAJ8_kCIXCFRlAWCYQgtIBh0k2moQv5UIQIh6sPhiPVUPkPTeAgQXwk0lochGZoBoR6ty1D2d7Sg2kCFjE5wADFSnhTLpT2iHcpVkrlfPJoQALTxQEBsKCodInGBpDIyOyxsMFoA
	⚠ 请注意，该图表不是 Apache ECharts 官方示例，而是由用户代码生成的。请注意鉴别其内容。
-->
<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
  <div id="container" style="height: 100%"></div>

  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/jquery"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.3.3/dist/echarts.min.js"></script>

  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.3.3/dist/extension/dataTool.min.js"></script>


  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>


  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>


  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/china.js"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/world.js"></script>


  <script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=YOUR_API_KEY"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.3.3/dist/extension/bmap.min.js"></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js">
  </script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js">
  </script>

  <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=在这里输入百度地图的key">
  </script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/bmap.min.js">
  </script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@4.9.0/map/js/world.js">
  </script>



  <script type="text/javascript">
    var dom = document.getElementById('container');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};
    var ROOT_PATH = 'https://echarts.apache.org/examples';
    var option;

   var data = {{scatter_collection_review_play_data|tojson}}


    var symbolSize = 10;
    option = {
      grid3D: {},
      xAxis3D: {
          name:'collection',
        type: 'category'
      },
      yAxis3D: {name:'review'},
      zAxis3D: {name:'play'},
      dataset: {
        dimensions: [
          'collection',
          'review',
          'play'
        ],
        source: data
      },
      series: [
        {
          type: 'scatter3D',
          symbolSize: symbolSize,
          encode: {
            x: 'collection',
            y: 'review',
            z: 'play',
            tooltip: [0]
          }
        }
      ]
    };
    myChart.setOption(option);



    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
  </script>
</body>
</html>