
<!DOCTYPE html>
<html>
<head>
	<title>Dr.STONE石纪元 第 075 话</title>
	<meta charset="utf-8">
    <style>
        body{
            background-color: black;
        }
		div#pages{
            text-align: center;
		}
        p#p{
            font-size: 35px;
            text-align: center;
            color: #66ffff;
        }
        span#capture_number{
            color: #ff66ff;
        }
	</style>
    
</head>
<body>
    <br><br>
    <hr style="FILTER:alpha(opacity=100,finishopacity=0,style=3)" width="95%"color=#00FF7F SIZE=5>   <p id="p"><strong>Dr.STONE石纪元 第 <span id="capture_number">75</span> 话</strong></p>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/Dr.STONE/Dr.STONEpages/capture075/page01..jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/Dr.STONE/Dr.STONEpages/capture075/page02..jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/Dr.STONE/Dr.STONEpages/capture075/page03..jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/Dr.STONE/Dr.STONEpages/capture075/page04..jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/Dr.STONE/Dr.STONEpages/capture075/page05..jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/Dr.STONE/Dr.STONEpages/capture075/page06..jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/Dr.STONE/Dr.STONEpages/capture075/page07..jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/Dr.STONE/Dr.STONEpages/capture075/page08..jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/Dr.STONE/Dr.STONEpages/capture075/page09..jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/Dr.STONE/Dr.STONEpages/capture075/page10..jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/Dr.STONE/Dr.STONEpages/capture075/page11..jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/Dr.STONE/Dr.STONEpages/capture075/page12..jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/Dr.STONE/Dr.STONEpages/capture075/page13..jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/Dr.STONE/Dr.STONEpages/capture075/page14..jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/Dr.STONE/Dr.STONEpages/capture075/page15..jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/Dr.STONE/Dr.STONEpages/capture075/page16..jpg"></img></div>
    <div id="pages"><img onload="if(this.width >= document.documentElement.clientWidth){this.width = document.documentElement.clientWidth}" align="middle" src="caricaturesource/Dr.STONE/Dr.STONEpages/capture075/page17..jpg"></img></div>

</body>
</html>
